.gallery_border
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px
    box-sizing: border-box
    color: rgb(34, 34, 34)
    display: inline-block
    height: 100px
    max-width: 100%
    vertical-align: middle
    width: 100px
    perspective-origin: 50px 50px
    transform-origin: 50px 50px
    border: 4px solid $silver
    outline: rgb(34, 34, 34) none 0px
    transition: all 0.2s ease-out 0s


.gallery_positon
    display: block
    position: relative
    left: 40%
    top: 8em