.content-wrapper
    width: 100%
    margin: 0 auto


.content
    padding: 20px
    box-sizing: border-box
    background-color: rgba(0, 0, 0, 0.4)

.hours-operation
    font-family: Cabin
    font-size: 1em
    color: $silver
    top: 5rem
    p.address, p.phone_number
        position: relative
        left: 1.5rem
        font-size: 1.25rem
        font-family: $p_font
    a
        color: $silver
    h2
        font-size: 2em
        font-family: $header_font
    h4
        font-family: $header_font












.content-right
    width: 100%
    float: right
    box-sizing: border-box
    padding: 20px
    background-color: rgba(10,10,10,0.5)
    height: 100px
    width: 500px

    position: relative
    left: 150px
    p
        font-family: Blooming Grove
        color: white
        font-size: 30px

    p:nth-child(3)
        font-size: 12px



.left-bar
    width: 30%
    float: left
    padding: 20px
    box-sizing: border-box
    background-color: rgba(10,10,10,0)
    height: 100px
    width: 300px
    p
        font-family: Cabin
        color: white
        font-size: 20px




























//Grid Bars
//.small-1
    background: red
    position: relative
    top: 100px
    left: 400px
    opacity: 0.5
    p
        color: white
