// Create inline lists.
ul.inline
    display: inline-block
    list-style: none
    margin-top: 0
    margin-bottom: 0.94444rem
    margin-left: -1.22222rem
    padding: 0
    li
        display: block
        float: left
        list-style: none
        margin-left: 1.22222rem
