@import "compass/css3"
@import "compass/css3/font-face"
@import "colors"
@import "fonts"
@import "menu"
@import "lists"
@import "home"
@import "utils"

// Override webicon hover
.webicon:hover
    margin: 0 0 5px !important

// Nav Bar
.top-bar
    background-color: #1e1e1e
    height: 64px
    ul
        background-color: #1e1e1e
        color: white
        a:hover
            color: #00427a
    a
        color: white
        font-family: $header_font
        font-size: 1.65em
        @media screen and (max-width: 640px)
            font-size: 1em

.top-bar-right
    float: right

.top-bar-left
    li
        margin-left: 0px
        float: left

// Mobile Menu
.title-bar
    background-color: #1e1e1e
    ul
        background-color: #1e1e1e
        color: white
        a:hover
            color: #00427a
    a
        color: white
        font-family: $header_font
        font-size: 1em

// Top bar menu text
.menu-text
    font-family: $header_font
    text-transform: uppercase
    font-size: 1.65em
    @media screen and (max-width: 640px)
        font-size: 1em

// Make sure logo is centered.
#logo-container
    position: absolute
    top: -15px
    left: 50%
    margin-left: -75px
    height: 150px
    width: 150px
    background-color: #1e1e1e
    padding: 1px
    @media screen and (max-width: 640px)
        top: -5px
        width: 120px
        height: 120px
        margin-left: -60px


// Content Area
body
    background-color: #000000
    background-image: url(coffee-wallpaper-gradient.jpg) // url(http://cdn.paper4pc.com/images/coffee-wallpaper-6.jpg) // url(menu1.png)
    background-repeat: no-repeat
    background-size: cover
