{% extends "base.html" %}
{% load cms_tags staticfiles %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block body_class %}menu_page{% endblock %}

{% block content %}

    <div class="row">
        <div class="large-8 large-offset-2 columns data-equalizer">
            <div class="gallery_positon" data-equalizer data-equalize-on="medium">
                <div class="row medium-up-5">
                    <!-- Example image with popup -->
                    <div class="column" style="inline-block">
                        <a data-open="gallery-image-1">
                            <img class="gallery_border" data-equalizer-watch src="{% static 'styles/images/1.jpg' %}">
                        </a>

                        <div class="reveal" id="gallery-image-1"  data-reveal>
                            <img src="{% static 'styles/images/1.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                             <span aria-hidden="true">&times;</span>
                            </button>
                            <button type= "submit" class="next-button"> <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i></button>
                            <button type= "submit" class="back-button"> <i class="fa fa-angle-left fa-4x" aria-hidden="true"></i></button>


                        </div>
                    </div>


         

                    <div class="column" style="inline-block">
                        <a data-open="gallery-image-2">
                            <img class="gallery_border" data-equalizer-watch src="{% static 'styles/images/2.jpg' %}">
                        </a>
                        <div class="reveal" id="gallery-image-2" data-reveal>
                            <img src="{% static 'styles/images/2.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                            
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>



                    <div class="column" style="inline-block">
                         <a data-open="gallery-image-3">
                            <img class="gallery_border" data-equalizer-watch src="{% static 'styles/images/3.jpg' %}">
                         </a>
                         <div class="reveal" id="gallery-image-3" data-reveal>
                            <img src="{% static 'styles/images/3.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                         </div>
                    </div>

                    <div class="column" style="inline-block">
                         <a data-open="gallery-image-4">
                            <img class="gallery_border" data-equalizer-watch src="{% static 'styles/images/4.jpg' %}">
                         </a>
                         <div class="reveal" id="gallery-image-4" data-reveal>
                            <img src="{% static 'styles/images/4.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                         </div>
                    </div>

                    <div class="column" style="inline-block">
                         <a data-open="gallery-image-5">
                            <img class="gallery_border" data-equalizer-watch src="{% static 'styles/images/5.jpg' %}">
                         </a>
                         <div class="reveal" id="gallery-image-5" data-reveal>
                            <img src="{% static 'styles/images/5.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                         </div>
                    </div>
                </div>


                <div class="row medium-up-5">
                   <div class="column" style="inline-block">
                        <a data-open="gallery-image-6">
                            <img class="gallery_border" data-equalizer-watch src="{% static 'styles/images/6.jpg' %}">
                        </a>

                        <div class="reveal" id="gallery-image-6" data-reveal>
                            <img src="{% static 'styles/images/6.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                   <div class="column" style="inline-block">
                        <a data-open="gallery-image-7">
                            <img class="gallery_border" data-equalizer-watch src= "{% static 'styles/images/7.jpg' %}">
                        </a>

                        <div class="reveal" id="gallery-image-7" data-reveal>
                            <img src="{% static 'styles/images/7.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                   <div class="column" style="inline-block">
                        <a data-open="gallery-image-8">
                            <img class="gallery_border" data-equalizer-watch src= "{% static 'styles/images/8.jpg' %}">
                        </a>

                        <div class="reveal" id="gallery-image-8" data-reveal>
                            <img src= "{% static 'styles/images/8.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                   <div class="column" style="inline-block">
                        <a data-open="gallery-image-9">
                            <img class="gallery_border" data-equalizer-watch src="{% static 'styles/images/9.jpg' %}">
                        </a>

                        <div class="reveal" id="gallery-image-9" data-reveal>
                            <img src="{% static 'styles/images/9.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>

                   <div class="column" style="inline-block">
                        <a data-open="gallery-image-10">
                            <img class="gallery_border" data-equalizer-watch src="{% static 'styles/images/10.jpg' %}">
                        </a>

                        <div class="reveal" id="gallery-image-10" data-reveal>
                            <img src="{% static 'styles/images/10.jpg' %}">
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
               <!-- NOT NEEDED RIGHT NOW.
                    <script>
                    $('gallery-image-1').on('click', function() {
                    $('gallery-image-1').foundation('reveal','open');
                                                                    });
                    $('a.open-second').on('click', function() {
                    $('gallery-image-2').foundation('reveal', 'open');
                                                                    });
                    $('a.close').on('click', function() {
                    $('gallery-image-2').foundation('reveal', 'close');
                                                                    });
                    </script>
                    -->

        {% static_placeholder 'footer' %}
    </footer>
{% endblock content %}
