{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}
{% block content %}
    
	<!-- VERY LEFT BORDER-->
	<div class="left-item"> Coffee
	$3.00</div>
	<div class="menu-border-left2">
   
    <!--CONTENT WRAPPER-->
    <div class="content-wrapper-menu">
   		<p class="menu-title"> MENU </p>
   		<div class="menu-border-left"></div>






  
<footer>
  {% static_placeholder 'footer' %}
</footer>
{% endblock content %}






<!--       <div class="left-bar">
             {% placeholder "leftbar" %}
        </div>

        <div class="content">
             {% placeholder "content" %}
        </div>
    </div>
-->