@import url("https://fonts.googleapis.com/css?family=Cabin");
@font-face {
  font-family: "Cabin";
  src: url('/fonts/Cabin-Medium-TTF.ttf') format('truetype'), url('/fonts/Cabin-Regular.otf') format('opentype');
}
@font-face {
  font-family: "Blooming Grove";
  src: url('/fonts/styles/fonts/bgrove.ttf') format('truetype'), url('/fonts/styles/fonts/bgrove.otf') format('opentype');
}
/* line 8, ../sass/Roast.sass */
.top-bar {
  background-color: #1e1e1e;
  height: 64px;
}
/* line 11, ../sass/Roast.sass */
.top-bar ul {
  background-color: #1e1e1e;
  color: white;
}
/* line 14, ../sass/Roast.sass */
.top-bar ul a:hover {
  color: #00427a;
}
/* line 16, ../sass/Roast.sass */
.top-bar a {
  color: white;
  font-family: Cabin;
  font-size: 28px;
  float: right;
  clear: both;
}

/* line 23, ../sass/Roast.sass */
.top-bar-right {
  float: right;
}

/* line 27, ../sass/Roast.sass */
.top-bar-left li {
  margin-left: 0px;
  float: left;
}

/* line 31, ../sass/Roast.sass */
.menu-text {
  font-family: Cabin;
  font-size: 33px;
  float: left;
}

/* line 37, ../sass/Roast.sass */
#logo-container {
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -70px;
  height: 150px;
  width: 150px;
  background-color: #1e1e1e;
  padding: 1px;
}

/* line 50, ../sass/Roast.sass */
body {
  background-image: url(http://cdn.paper4pc.com/images/coffee-wallpaper-6.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* line 55, ../sass/Roast.sass */
.content-wrapper {
  width: 900px;
  margin: 0 auto;
}

/* line 60, ../sass/Roast.sass */
.content {
  width: 69.999%;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 0px;
  background: rgba(87, 70, 90, 0);
  font-family: Cabin;
  font-size: 16px;
}

/* line 70, ../sass/Roast.sass */
p.content {
  font-family: Cabin;
  color: red;
  font-size: 20px;
}

/* line 75, ../sass/Roast.sass */
.content-right {
  width: 100%;
  float: right;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgba(10, 10, 10, 0.5);
  height: 100px;
  width: 500px;
  position: relative;
  left: 150px;
}
/* line 86, ../sass/Roast.sass */
.content-right p {
  font-family: Blooming Grove;
  color: white;
  font-size: 30px;
}
/* line 91, ../sass/Roast.sass */
.content-right p:nth-child(3) {
  font-size: 12px;
}

/* line 94, ../sass/Roast.sass */
.left-bar {
  width: 30%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(10, 10, 10, 0.5);
  height: 100px;
  width: 300px;
}
/* line 102, ../sass/Roast.sass */
.left-bar p {
  font-family: Cabin;
  color: white;
  font-size: 20px;
}

/* line 112, ../sass/Roast.sass */
.menu-title {
  font-family: georgia;
  font-size: 70px;
  margin: 0 auto;
  text-align: center;
  color: #ADAFB2;
  background: none;
  background-color: none;
  position: relative;
  top: 90px;
  border-bottom: solid 1px #ADAFB2;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0px;
  line-height: 90%;
}

/* line 128, ../sass/Roast.sass */
.menu-border-left {
  border-left: 1px solid #ADAFB2;
  height: 745px;
  position: relative;
  top: 90px;
}

/* line 134, ../sass/Roast.sass */
.menu-font {
  color: white;
  font-size: 40px;
  font-family: Cabin;
  position: relative;
  bottom: 590px;
}

/* line 141, ../sass/Roast.sass */
.menu-left {
  width: 33%;
  float: left;
  padding: 10px;
  font-family: Cabin;
  font-size: 56px;
  color: white;
  background: none;
  background-color: none;
  position: relative;
  top: -690px;
}

/* line 153, ../sass/Roast.sass */
.menu-center {
  width: 33%;
  float: right;
  padding: 10px;
  font-family: Cabin;
  font-size: 56px;
  color: white;
  background: none;
  background-color: none;
  position: relative;
  top: -690px;
}
