/* Webicons by Adam Fairhead: http://adamfairhead.com */
/* line 2, ../sass/webicons.sass */
.webicon {
  display: inline-block;
  background-size: 80%;
  width: 35px;
  height: 30px;
  text-indent: -999em;
  text-align: left;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 0 #31e1d8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: none;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 21, ../sass/webicons.sass */
.webicon:hover {
  margin: -1px 0 1px;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

/* line 27, ../sass/webicons.sass */
.webicon.small {
  width: 20px;
  height: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 34, ../sass/webicons.sass */
.webicon.large {
  width: 48px;
  height: 48px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

/* restore webicons accessibility for print */
@media print {
  /* line 43, ../sass/webicons.sass */
  * {
    background: transparent !important;
    color: #000 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 51, ../sass/webicons.sass */
  .webicon {
    text-indent: 0;
    width: auto !important;
    height: auto !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}
/* line 59, ../sass/webicons.sass */
.no-svg .webicon.f500px {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-f500px-m.png");
}

/* line 62, ../sass/webicons.sass */
.no-svg .webicon.f500px.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-f500px.png");
}

/* line 65, ../sass/webicons.sass */
.no-svg .webicon.f500px.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-f500px-s.png");
}

/* line 68, ../sass/webicons.sass */
.svg .webicon.f500px {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-f500px.svg");
}

/* line 71, ../sass/webicons.sass */
.no-svg .webicon.aboutme {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-aboutme-m.png");
}

/* line 74, ../sass/webicons.sass */
.no-svg .webicon.aboutme.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-aboutme.png");
}

/* line 77, ../sass/webicons.sass */
.no-svg .webicon.aboutme.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-aboutme-s.png");
}

/* line 80, ../sass/webicons.sass */
.svg .webicon.aboutme {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-aboutme.svg");
}

/* line 83, ../sass/webicons.sass */
.no-svg .webicon.adn {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-adn-m.png");
}

/* line 86, ../sass/webicons.sass */
.no-svg .webicon.adn.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-adn.png");
}

/* line 89, ../sass/webicons.sass */
.no-svg .webicon.adn.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-adn-s.png");
}

/* line 92, ../sass/webicons.sass */
.svg .webicon.adn {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-adn.svg");
}

/* line 95, ../sass/webicons.sass */
.no-svg .webicon.android {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-android-m.png");
}

/* line 98, ../sass/webicons.sass */
.no-svg .webicon.android.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-android.png");
}

/* line 101, ../sass/webicons.sass */
.no-svg .webicon.android.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-android-s.png");
}

/* line 104, ../sass/webicons.sass */
.svg .webicon.android {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-android.svg");
}

/* line 107, ../sass/webicons.sass */
.no-svg .webicon.apple {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-apple-m.png");
}

/* line 110, ../sass/webicons.sass */
.no-svg .webicon.apple.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-apple.png");
}

/* line 113, ../sass/webicons.sass */
.no-svg .webicon.apple.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-apple-s.png");
}

/* line 116, ../sass/webicons.sass */
.svg .webicon.apple {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-apple.svg");
}

/* line 119, ../sass/webicons.sass */
.no-svg .webicon.behance {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-behance-m.png");
}

/* line 122, ../sass/webicons.sass */
.no-svg .webicon.behance.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-behance.png");
}

/* line 125, ../sass/webicons.sass */
.no-svg .webicon.behance.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-behance-s.png");
}

/* line 128, ../sass/webicons.sass */
.svg .webicon.behance {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-behance.svg");
}

/* line 131, ../sass/webicons.sass */
.no-svg .webicon.bitbucket {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-bitbucket-m.png");
}

/* line 134, ../sass/webicons.sass */
.no-svg .webicon.bitbucket.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-bitbucket.png");
}

/* line 137, ../sass/webicons.sass */
.no-svg .webicon.bitbucket.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-bitbucket-s.png");
}

/* line 140, ../sass/webicons.sass */
.svg .webicon.bitbucket {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-bitbucket.svg");
}

/* line 143, ../sass/webicons.sass */
.no-svg .webicon.blogger {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-blogger-m.png");
}

/* line 146, ../sass/webicons.sass */
.no-svg .webicon.blogger.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-blogger.png");
}

/* line 149, ../sass/webicons.sass */
.no-svg .webicon.blogger.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-blogger-s.png");
}

/* line 152, ../sass/webicons.sass */
.svg .webicon.blogger {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-blogger.svg");
}

/* line 155, ../sass/webicons.sass */
.no-svg .webicon.branch {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-branch-m.png");
}

/* line 158, ../sass/webicons.sass */
.no-svg .webicon.branch.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-branch.png");
}

/* line 161, ../sass/webicons.sass */
.no-svg .webicon.branch.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-branch-s.png");
}

/* line 164, ../sass/webicons.sass */
.svg .webicon.branch {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-branch.svg");
}

/* line 167, ../sass/webicons.sass */
.no-svg .webicon.coderwall {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-coderwall-m.png");
}

/* line 170, ../sass/webicons.sass */
.no-svg .webicon.coderwall.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-coderwall.png");
}

/* line 173, ../sass/webicons.sass */
.no-svg .webicon.coderwall.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-coderwall-s.png");
}

/* line 176, ../sass/webicons.sass */
.svg .webicon.coderwall {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-coderwall.svg");
}

/* line 179, ../sass/webicons.sass */
.no-svg .webicon.creativecloud {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-creativecloud-m.png");
}

/* line 182, ../sass/webicons.sass */
.no-svg .webicon.creativecloud.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-creativecloud.png");
}

/* line 185, ../sass/webicons.sass */
.no-svg .webicon.creativecloud.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-creativecloud-s.png");
}

/* line 188, ../sass/webicons.sass */
.svg .webicon.creativecloud {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-creativecloud.svg");
}

/* line 191, ../sass/webicons.sass */
.no-svg .webicon.deviantart {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-deviantart-m.png");
}

/* line 194, ../sass/webicons.sass */
.no-svg .webicon.deviantart.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-deviantart.png");
}

/* line 197, ../sass/webicons.sass */
.no-svg .webicon.deviantart.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-deviantart-s.png");
}

/* line 200, ../sass/webicons.sass */
.svg .webicon.deviantart {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-deviantart.svg");
}

/* line 203, ../sass/webicons.sass */
.no-svg .webicon.dribbble {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-dribbble-m.png");
}

/* line 206, ../sass/webicons.sass */
.no-svg .webicon.dribbble.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-dribbble.png");
}

/* line 209, ../sass/webicons.sass */
.no-svg .webicon.dribbble.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-dribbble-s.png");
}

/* line 212, ../sass/webicons.sass */
.svg .webicon.dribbble {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-dribbble.svg");
}

/* line 215, ../sass/webicons.sass */
.no-svg .webicon.dropbox {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-dropbox-m.png");
}

/* line 218, ../sass/webicons.sass */
.no-svg .webicon.dropbox.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-dropbox.png");
}

/* line 221, ../sass/webicons.sass */
.no-svg .webicon.dropbox.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-dropbox-s.png");
}

/* line 224, ../sass/webicons.sass */
.svg .webicon.dropbox {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-dropbox.svg");
}

/* line 227, ../sass/webicons.sass */
.no-svg .webicon.evernote {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-evernote-m.png");
}

/* line 230, ../sass/webicons.sass */
.no-svg .webicon.evernote.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-evernote.png");
}

/* line 233, ../sass/webicons.sass */
.no-svg .webicon.evernote.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-evernote-s.png");
}

/* line 236, ../sass/webicons.sass */
.svg .webicon.evernote {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-evernote.svg");
}

/* line 239, ../sass/webicons.sass */
.no-svg .webicon.fairheadcreative {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-fairheadcreative-m.png");
}

/* line 242, ../sass/webicons.sass */
.no-svg .webicon.fairheadcreative.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-fairheadcreative.png");
}

/* line 245, ../sass/webicons.sass */
.no-svg .webicon.fairheadcreative.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-fairheadcreative-s.png");
}

/* line 248, ../sass/webicons.sass */
.svg .webicon.fairheadcreative {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-fairheadcreative.svg");
}

/* line 251, ../sass/webicons.sass */
.no-svg .webicon.facebook {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-facebook-m.png");
}

/* line 254, ../sass/webicons.sass */
.no-svg .webicon.facebook.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-facebook.png");
}

/* line 257, ../sass/webicons.sass */
.no-svg .webicon.facebook.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-facebook-s.png");
}

/* line 260, ../sass/webicons.sass */
.svg .webicon.facebook {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-facebook.svg");
}

/* line 263, ../sass/webicons.sass */
.no-svg .webicon.flickr {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-flickr-m.png");
}

/* line 266, ../sass/webicons.sass */
.no-svg .webicon.flickr.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-flickr.png");
}

/* line 269, ../sass/webicons.sass */
.no-svg .webicon.flickr.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-flickr-s.png");
}

/* line 272, ../sass/webicons.sass */
.svg .webicon.flickr {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-flickr.svg");
}

/* line 275, ../sass/webicons.sass */
.no-svg .webicon.foursquare {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-foursquare-m.png");
}

/* line 278, ../sass/webicons.sass */
.no-svg .webicon.foursquare.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-foursquare.png");
}

/* line 281, ../sass/webicons.sass */
.no-svg .webicon.foursquare.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-foursquare-s.png");
}

/* line 284, ../sass/webicons.sass */
.svg .webicon.foursquare {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-foursquare.svg");
}

/* line 287, ../sass/webicons.sass */
.no-svg .webicon.git {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-git-m.png");
}

/* line 290, ../sass/webicons.sass */
.no-svg .webicon.git.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-git.png");
}

/* line 293, ../sass/webicons.sass */
.no-svg .webicon.git.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-git-s.png");
}

/* line 296, ../sass/webicons.sass */
.svg .webicon.git {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-git.svg");
}

/* line 299, ../sass/webicons.sass */
.no-svg .webicon.github {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-github-m.png");
}

/* line 302, ../sass/webicons.sass */
.no-svg .webicon.github.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-github.png");
}

/* line 305, ../sass/webicons.sass */
.no-svg .webicon.github.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-github-s.png");
}

/* line 308, ../sass/webicons.sass */
.svg .webicon.github {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-github.svg");
}

/* line 311, ../sass/webicons.sass */
.no-svg .webicon.goodreads {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-goodreads-m.png");
}

/* line 314, ../sass/webicons.sass */
.no-svg .webicon.goodreads.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-goodreads.png");
}

/* line 317, ../sass/webicons.sass */
.no-svg .webicon.goodreads.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-goodreads-s.png");
}

/* line 320, ../sass/webicons.sass */
.svg .webicon.goodreads {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-goodreads.svg");
}

/* line 323, ../sass/webicons.sass */
.no-svg .webicon.google {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-google-m.png");
}

/* line 326, ../sass/webicons.sass */
.no-svg .webicon.google.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-google.png");
}

/* line 329, ../sass/webicons.sass */
.no-svg .webicon.google.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-google-s.png");
}

/* line 332, ../sass/webicons.sass */
.svg .webicon.google {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-google.svg");
}

/* line 335, ../sass/webicons.sass */
.no-svg .webicon.googleplay {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-googleplay-m.png");
}

/* line 338, ../sass/webicons.sass */
.no-svg .webicon.googleplay.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-googleplay.png");
}

/* line 341, ../sass/webicons.sass */
.no-svg .webicon.googleplay.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-googleplay-s.png");
}

/* line 344, ../sass/webicons.sass */
.svg .webicon.googleplay {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-googleplay.svg");
}

/* line 347, ../sass/webicons.sass */
.no-svg .webicon.googleplus {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-googleplus-m.png");
}

/* line 350, ../sass/webicons.sass */
.no-svg .webicon.googleplus.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-googleplus.png");
}

/* line 353, ../sass/webicons.sass */
.no-svg .webicon.googleplus.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-googleplus-s.png");
}

/* line 356, ../sass/webicons.sass */
.svg .webicon.googleplus {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-googleplus.svg");
}

/* line 359, ../sass/webicons.sass */
.no-svg .webicon.hangouts {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-hangouts-m.png");
}

/* line 362, ../sass/webicons.sass */
.no-svg .webicon.hangouts.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-hangouts.png");
}

/* line 365, ../sass/webicons.sass */
.no-svg .webicon.hangouts.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-hangouts-s.png");
}

/* line 368, ../sass/webicons.sass */
.svg .webicon.hangouts {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-hangouts.svg");
}

/* line 371, ../sass/webicons.sass */
.no-svg .webicon.html5 {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-html5-m.png");
}

/* line 374, ../sass/webicons.sass */
.no-svg .webicon.html5.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-html5.png");
}

/* line 377, ../sass/webicons.sass */
.no-svg .webicon.html5.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-html5-s.png");
}

/* line 380, ../sass/webicons.sass */
.svg .webicon.html5 {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-html5.svg");
}

/* line 383, ../sass/webicons.sass */
.no-svg .webicon.icloud {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-icloud-m.png");
}

/* line 386, ../sass/webicons.sass */
.no-svg .webicon.icloud.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-icloud.png");
}

/* line 389, ../sass/webicons.sass */
.no-svg .webicon.icloud.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-icloud-s.png");
}

/* line 392, ../sass/webicons.sass */
.svg .webicon.icloud {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-icloud.svg");
}

/* line 395, ../sass/webicons.sass */
.no-svg .webicon.indiegogo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-indiegogo-m.png");
}

/* line 398, ../sass/webicons.sass */
.no-svg .webicon.indiegogo.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-indiegogo.png");
}

/* line 401, ../sass/webicons.sass */
.no-svg .webicon.indiegogo.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-indiegogo-s.png");
}

/* line 404, ../sass/webicons.sass */
.svg .webicon.indiegogo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-indiegogo.svg");
}

/* line 407, ../sass/webicons.sass */
.no-svg .webicon.instagram {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-instagram-m.png");
}

/* line 410, ../sass/webicons.sass */
.no-svg .webicon.instagram.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-instagram.png");
}

/* line 413, ../sass/webicons.sass */
.no-svg .webicon.instagram.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-instagram-s.png");
}

/* line 416, ../sass/webicons.sass */
.svg .webicon.instagram {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-instagram.svg");
}

/* line 419, ../sass/webicons.sass */
.no-svg .webicon.instapaper {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-instapaper-m.png");
}

/* line 422, ../sass/webicons.sass */
.no-svg .webicon.instapaper.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-instapaper.png");
}

/* line 425, ../sass/webicons.sass */
.no-svg .webicon.instapaper.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-instapaper-s.png");
}

/* line 428, ../sass/webicons.sass */
.svg .webicon.instapaper {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-instapaper.svg");
}

/* line 431, ../sass/webicons.sass */
.no-svg .webicon.kickstarter {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-kickstarter-m.png");
}

/* line 434, ../sass/webicons.sass */
.no-svg .webicon.kickstarter.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-kickstarter.png");
}

/* line 437, ../sass/webicons.sass */
.no-svg .webicon.kickstarter.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-kickstarter-s.png");
}

/* line 440, ../sass/webicons.sass */
.svg .webicon.kickstarter {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-kickstarter.svg");
}

/* line 443, ../sass/webicons.sass */
.no-svg .webicon.klout {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-klout-m.png");
}

/* line 446, ../sass/webicons.sass */
.no-svg .webicon.klout.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-klout.png");
}

/* line 449, ../sass/webicons.sass */
.no-svg .webicon.klout.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-klout-s.png");
}

/* line 452, ../sass/webicons.sass */
.svg .webicon.klout {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-klout.svg");
}

/* line 455, ../sass/webicons.sass */
.no-svg .webicon.lastfm {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-lastfm-m.png");
}

/* line 458, ../sass/webicons.sass */
.no-svg .webicon.lastfm.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-lastfm.png");
}

/* line 461, ../sass/webicons.sass */
.no-svg .webicon.lastfm.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-lastfm-s.png");
}

/* line 464, ../sass/webicons.sass */
.svg .webicon.lastfm {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-lastfm.svg");
}

/* line 467, ../sass/webicons.sass */
.no-svg .webicon.linkedin {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-linkedin-m.png");
}

/* line 470, ../sass/webicons.sass */
.no-svg .webicon.linkedin.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-linkedin.png");
}

/* line 473, ../sass/webicons.sass */
.no-svg .webicon.linkedin.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-linkedin-s.png");
}

/* line 476, ../sass/webicons.sass */
.svg .webicon.linkedin {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-linkedin.svg");
}

/* line 479, ../sass/webicons.sass */
.no-svg .webicon.mail {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mail-m.png");
}

/* line 482, ../sass/webicons.sass */
.no-svg .webicon.mail.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mail.png");
}

/* line 485, ../sass/webicons.sass */
.no-svg .webicon.mail.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mail-s.png");
}

/* line 488, ../sass/webicons.sass */
.svg .webicon.mail {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mail.svg");
}

/* line 491, ../sass/webicons.sass */
.no-svg .webicon.medium {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-medium-m.png");
}

/* line 494, ../sass/webicons.sass */
.no-svg .webicon.medium.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-medium.png");
}

/* line 497, ../sass/webicons.sass */
.no-svg .webicon.medium.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-medium-s.png");
}

/* line 500, ../sass/webicons.sass */
.svg .webicon.medium {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-medium.svg");
}

/* line 503, ../sass/webicons.sass */
.no-svg .webicon.mixi {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mixi-m.png");
}

/* line 506, ../sass/webicons.sass */
.no-svg .webicon.mixi.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mixi.png");
}

/* line 509, ../sass/webicons.sass */
.no-svg .webicon.mixi.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mixi-s.png");
}

/* line 512, ../sass/webicons.sass */
.svg .webicon.mixi {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mixi.svg");
}

/* line 515, ../sass/webicons.sass */
.no-svg .webicon.msn {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-msn-m.png");
}

/* line 518, ../sass/webicons.sass */
.no-svg .webicon.msn.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-msn.png");
}

/* line 521, ../sass/webicons.sass */
.no-svg .webicon.msn.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-msn-s.png");
}

/* line 524, ../sass/webicons.sass */
.svg .webicon.msn {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-msn.svg");
}

/* line 527, ../sass/webicons.sass */
.no-svg .webicon.openid {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-openid-m.png");
}

/* line 530, ../sass/webicons.sass */
.no-svg .webicon.openid.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-openid.png");
}

/* line 533, ../sass/webicons.sass */
.no-svg .webicon.openid.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-openid-s.png");
}

/* line 536, ../sass/webicons.sass */
.svg .webicon.openid {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-openid.svg");
}

/* line 539, ../sass/webicons.sass */
.no-svg .webicon.picasa {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-picasa-m.png");
}

/* line 542, ../sass/webicons.sass */
.no-svg .webicon.picasa.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-picasa.png");
}

/* line 545, ../sass/webicons.sass */
.no-svg .webicon.picasa.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-picasa-s.png");
}

/* line 548, ../sass/webicons.sass */
.svg .webicon.picasa {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-picasa.svg");
}

/* line 551, ../sass/webicons.sass */
.no-svg .webicon.pinterest {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-pinterest-m.png");
}

/* line 554, ../sass/webicons.sass */
.no-svg .webicon.pinterest.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-pinterest.png");
}

/* line 557, ../sass/webicons.sass */
.no-svg .webicon.pinterest.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-pinterest-s.png");
}

/* line 560, ../sass/webicons.sass */
.svg .webicon.pinterest {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-pinterest.svg");
}

/* line 563, ../sass/webicons.sass */
.no-svg .webicon.pocketapp {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-pocketapp-m.png");
}

/* line 566, ../sass/webicons.sass */
.no-svg .webicon.pocketapp.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-pocketapp.png");
}

/* line 569, ../sass/webicons.sass */
.no-svg .webicon.pocketapp.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-pocketapp-s.png");
}

/* line 572, ../sass/webicons.sass */
.svg .webicon.pocketapp {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-pocketapp.svg");
}

/* line 575, ../sass/webicons.sass */
.no-svg .webicon.potluck {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-potluck-m.png");
}

/* line 578, ../sass/webicons.sass */
.no-svg .webicon.potluck.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-potluck.png");
}

/* line 581, ../sass/webicons.sass */
.no-svg .webicon.potluck.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-potluck-s.png");
}

/* line 584, ../sass/webicons.sass */
.svg .webicon.potluck {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-potluck.svg");
}

/* line 587, ../sass/webicons.sass */
.no-svg .webicon.quora {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-quora-m.png");
}

/* line 590, ../sass/webicons.sass */
.no-svg .webicon.quora.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-quora.png");
}

/* line 593, ../sass/webicons.sass */
.no-svg .webicon.quora.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-quora-s.png");
}

/* line 596, ../sass/webicons.sass */
.svg .webicon.quora {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-quora.svg");
}

/* line 599, ../sass/webicons.sass */
.no-svg .webicon.orkut {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-orkut-m.png");
}

/* line 602, ../sass/webicons.sass */
.no-svg .webicon.orkut.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-orkut.png");
}

/* line 605, ../sass/webicons.sass */
.no-svg .webicon.orkut.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-orkut-s.png");
}

/* line 608, ../sass/webicons.sass */
.svg .webicon.orkut {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-orkut.svg");
}

/* line 611, ../sass/webicons.sass */
.no-svg .webicon.mercurial {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mercurial-m.png");
}

/* line 614, ../sass/webicons.sass */
.no-svg .webicon.mercurial.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mercurial.png");
}

/* line 617, ../sass/webicons.sass */
.no-svg .webicon.mercurial.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mercurial-s.png");
}

/* line 620, ../sass/webicons.sass */
.svg .webicon.mercurial {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-mercurial.svg");
}

/* line 623, ../sass/webicons.sass */
.no-svg .webicon.rdio {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-rdio-m.png");
}

/* line 626, ../sass/webicons.sass */
.no-svg .webicon.rdio.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-rdio.png");
}

/* line 629, ../sass/webicons.sass */
.no-svg .webicon.rdio.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-rdio-s.png");
}

/* line 632, ../sass/webicons.sass */
.svg .webicon.rdio {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-rdio.svg");
}

/* line 635, ../sass/webicons.sass */
.no-svg .webicon.reddit {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-reddit-m.png");
}

/* line 638, ../sass/webicons.sass */
.no-svg .webicon.reddit.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-reddit.png");
}

/* line 641, ../sass/webicons.sass */
.no-svg .webicon.reddit.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-reddit-s.png");
}

/* line 644, ../sass/webicons.sass */
.svg .webicon.reddit {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-reddit.svg");
}

/* line 647, ../sass/webicons.sass */
.no-svg .webicon.renren {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-renren-m.png");
}

/* line 650, ../sass/webicons.sass */
.no-svg .webicon.renren.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-renren.png");
}

/* line 653, ../sass/webicons.sass */
.no-svg .webicon.renren.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-renren-s.png");
}

/* line 656, ../sass/webicons.sass */
.svg .webicon.renren {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-renren.svg");
}

/* line 659, ../sass/webicons.sass */
.no-svg .webicon.rss {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-rss-m.png");
}

/* line 662, ../sass/webicons.sass */
.no-svg .webicon.rss.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-rss.png");
}

/* line 665, ../sass/webicons.sass */
.no-svg .webicon.rss.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-rss-s.png");
}

/* line 668, ../sass/webicons.sass */
.svg .webicon.rss {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-rss.svg");
}

/* line 671, ../sass/webicons.sass */
.no-svg .webicon.skitch {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-skitch-m.png");
}

/* line 674, ../sass/webicons.sass */
.no-svg .webicon.skitch.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-skitch.png");
}

/* line 677, ../sass/webicons.sass */
.no-svg .webicon.skitch.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-skitch-s.png");
}

/* line 680, ../sass/webicons.sass */
.svg .webicon.skitch {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-skitch.svg");
}

/* line 683, ../sass/webicons.sass */
.no-svg .webicon.skype {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-skype-m.png");
}

/* line 686, ../sass/webicons.sass */
.no-svg .webicon.skype.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-skype.png");
}

/* line 689, ../sass/webicons.sass */
.no-svg .webicon.skype.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-skype-s.png");
}

/* line 692, ../sass/webicons.sass */
.svg .webicon.skype {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-skype.svg");
}

/* line 695, ../sass/webicons.sass */
.no-svg .webicon.soundcloud {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-soundcloud-m.png");
}

/* line 698, ../sass/webicons.sass */
.no-svg .webicon.soundcloud.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-soundcloud.png");
}

/* line 701, ../sass/webicons.sass */
.no-svg .webicon.soundcloud.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-soundcloud-s.png");
}

/* line 704, ../sass/webicons.sass */
.svg .webicon.soundcloud {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-soundcloud.svg");
}

/* line 707, ../sass/webicons.sass */
.no-svg .webicon.spotify {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-spotify-m.png");
}

/* line 710, ../sass/webicons.sass */
.no-svg .webicon.spotify.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-spotify.png");
}

/* line 713, ../sass/webicons.sass */
.no-svg .webicon.spotify.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-spotify-s.png");
}

/* line 716, ../sass/webicons.sass */
.svg .webicon.spotify {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-spotify.svg");
}

/* line 719, ../sass/webicons.sass */
.no-svg .webicon.stackoverflow {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-stackoverflow-m.png");
}

/* line 722, ../sass/webicons.sass */
.no-svg .webicon.stackoverflow.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-stackoverflow.png");
}

/* line 725, ../sass/webicons.sass */
.no-svg .webicon.stackoverflow.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-stackoverflow-s.png");
}

/* line 728, ../sass/webicons.sass */
.svg .webicon.stackoverflow {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-stackoverflow.svg");
}

/* line 731, ../sass/webicons.sass */
.no-svg .webicon.stumbleupon {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-stumbleupon-m.png");
}

/* line 734, ../sass/webicons.sass */
.no-svg .webicon.stumbleupon.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-stumbleupon.png");
}

/* line 737, ../sass/webicons.sass */
.no-svg .webicon.stumbleupon.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-stumbleupon-s.png");
}

/* line 740, ../sass/webicons.sass */
.svg .webicon.stumbleupon {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-stumbleupon.svg");
}

/* line 743, ../sass/webicons.sass */
.no-svg .webicon.svtle {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-svtle-m.png");
}

/* line 746, ../sass/webicons.sass */
.no-svg .webicon.svtle.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-svtle.png");
}

/* line 749, ../sass/webicons.sass */
.no-svg .webicon.svtle.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-svtle-s.png");
}

/* line 752, ../sass/webicons.sass */
.svg .webicon.svtle {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-svtle.svg");
}

/* line 755, ../sass/webicons.sass */
.no-svg .webicon.svn {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-svn-m.png");
}

/* line 758, ../sass/webicons.sass */
.no-svg .webicon.svn.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-svn.png");
}

/* line 761, ../sass/webicons.sass */
.no-svg .webicon.svn.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-svn-s.png");
}

/* line 764, ../sass/webicons.sass */
.svg .webicon.svn {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-svn.svg");
}

/* line 767, ../sass/webicons.sass */
.no-svg .webicon.tent {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tent-m.png");
}

/* line 770, ../sass/webicons.sass */
.no-svg .webicon.tent.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tent.png");
}

/* line 773, ../sass/webicons.sass */
.no-svg .webicon.tent.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tent-s.png");
}

/* line 776, ../sass/webicons.sass */
.svg .webicon.tent {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tent.svg");
}

/* line 779, ../sass/webicons.sass */
.no-svg .webicon.tripadvisor {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tripadvisor-m.png");
}

/* line 782, ../sass/webicons.sass */
.no-svg .webicon.tripadvisor.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tripadvisor.png");
}

/* line 785, ../sass/webicons.sass */
.no-svg .webicon.tripadvisor.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tripadvisor-s.png");
}

/* line 788, ../sass/webicons.sass */
.svg .webicon.tripadvisor {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tripadvisor.svg");
}

/* line 791, ../sass/webicons.sass */
.no-svg .webicon.tumblr {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tumblr-m.png");
}

/* line 794, ../sass/webicons.sass */
.no-svg .webicon.tumblr.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tumblr.png");
}

/* line 797, ../sass/webicons.sass */
.no-svg .webicon.tumblr.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tumblr-s.png");
}

/* line 800, ../sass/webicons.sass */
.svg .webicon.tumblr {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-tumblr.svg");
}

/* line 803, ../sass/webicons.sass */
.no-svg .webicon.twitter {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-twitter-m.png");
}

/* line 806, ../sass/webicons.sass */
.no-svg .webicon.twitter.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-twitter.png");
}

/* line 809, ../sass/webicons.sass */
.no-svg .webicon.twitter.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-twitter-s.png");
}

/* line 812, ../sass/webicons.sass */
.svg .webicon.twitter {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-twitter.svg");
}

/* line 815, ../sass/webicons.sass */
.no-svg .webicon.viadeo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-viadeo-m.png");
}

/* line 818, ../sass/webicons.sass */
.no-svg .webicon.viadeo.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-viadeo.png");
}

/* line 821, ../sass/webicons.sass */
.no-svg .webicon.viadeo.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-viadeo-s.png");
}

/* line 824, ../sass/webicons.sass */
.svg .webicon.viadeo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-viadeo.svg");
}

/* line 827, ../sass/webicons.sass */
.no-svg .webicon.vine {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-vine-m.png");
}

/* line 830, ../sass/webicons.sass */
.no-svg .webicon.vine.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-vine.png");
}

/* line 833, ../sass/webicons.sass */
.no-svg .webicon.vine.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-vine-s.png");
}

/* line 836, ../sass/webicons.sass */
.svg .webicon.vine {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-vine.svg");
}

/* line 839, ../sass/webicons.sass */
.no-svg .webicon.vimeo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-vimeo-m.png");
}

/* line 842, ../sass/webicons.sass */
.no-svg .webicon.vimeo.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-vimeo.png");
}

/* line 845, ../sass/webicons.sass */
.no-svg .webicon.vimeo.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-vimeo-s.png");
}

/* line 848, ../sass/webicons.sass */
.svg .webicon.vimeo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-vimeo.svg");
}

/* line 851, ../sass/webicons.sass */
.no-svg .webicon.weibo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-weibo-m.png");
}

/* line 854, ../sass/webicons.sass */
.no-svg .webicon.weibo.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-weibo.png");
}

/* line 857, ../sass/webicons.sass */
.no-svg .webicon.weibo.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-weibo-s.png");
}

/* line 860, ../sass/webicons.sass */
.svg .webicon.weibo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-weibo.svg");
}

/* line 863, ../sass/webicons.sass */
.no-svg .webicon.windows {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-windows-m.png");
}

/* line 866, ../sass/webicons.sass */
.no-svg .webicon.windows.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-windows.png");
}

/* line 869, ../sass/webicons.sass */
.no-svg .webicon.windows.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-windows-s.png");
}

/* line 872, ../sass/webicons.sass */
.svg .webicon.windows {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-windows.svg");
}

/* line 875, ../sass/webicons.sass */
.no-svg .webicon.wordpress {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-wordpress-m.png");
}

/* line 878, ../sass/webicons.sass */
.no-svg .webicon.wordpress.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-wordpress.png");
}

/* line 881, ../sass/webicons.sass */
.no-svg .webicon.wordpress.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-wordpress-s.png");
}

/* line 884, ../sass/webicons.sass */
.svg .webicon.wordpress {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-wordpress.svg");
}

/* line 887, ../sass/webicons.sass */
.no-svg .webicon.xing {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-xing-m.png");
}

/* line 890, ../sass/webicons.sass */
.no-svg .webicon.xing.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-xing.png");
}

/* line 893, ../sass/webicons.sass */
.no-svg .webicon.xing.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-xing-s.png");
}

/* line 896, ../sass/webicons.sass */
.svg .webicon.xing {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-xing.svg");
}

/* line 899, ../sass/webicons.sass */
.no-svg .webicon.yahoo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-yahoo-m.png");
}

/* line 902, ../sass/webicons.sass */
.no-svg .webicon.yahoo.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-yahoo.png");
}

/* line 905, ../sass/webicons.sass */
.no-svg .webicon.yahoo.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-yahoo-s.png");
}

/* line 908, ../sass/webicons.sass */
.svg .webicon.yahoo {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-yahoo.svg");
}

/* line 911, ../sass/webicons.sass */
.no-svg .webicon.yelp {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-yelp-m.png");
}

/* line 914, ../sass/webicons.sass */
.no-svg .webicon.yelp.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-yelp.png");
}

/* line 917, ../sass/webicons.sass */
.no-svg .webicon.yelp.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-yelp-s.png");
}

/* line 920, ../sass/webicons.sass */
.svg .webicon.yelp {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-yelp.svg");
}

/* line 923, ../sass/webicons.sass */
.no-svg .webicon.youtube {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-youtube-m.png");
}

/* line 926, ../sass/webicons.sass */
.no-svg .webicon.youtube.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-youtube.png");
}

/* line 929, ../sass/webicons.sass */
.no-svg .webicon.youtube.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-youtube-s.png");
}

/* line 932, ../sass/webicons.sass */
.svg .webicon.youtube {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-youtube.svg");
}

/* line 935, ../sass/webicons.sass */
.no-svg .webicon.youversion {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-youversion-m.png");
}

/* line 938, ../sass/webicons.sass */
.no-svg .webicon.youversion.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-youversion.png");
}

/* line 941, ../sass/webicons.sass */
.no-svg .webicon.youversion.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-youversion-s.png");
}

/* line 944, ../sass/webicons.sass */
.svg .webicon.youversion {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-youversion.svg");
}

/* line 947, ../sass/webicons.sass */
.no-svg .webicon.zerply {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-zerply-m.png");
}

/* line 950, ../sass/webicons.sass */
.no-svg .webicon.zerply.large {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-zerply.png");
}

/* line 953, ../sass/webicons.sass */
.no-svg .webicon.zerply.small {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-zerply-s.png");
}

/* line 956, ../sass/webicons.sass */
.svg .webicon.zerply {
  background: url("/static/foundation/webicons/webicons-master/webicons/webicon-zerply.svg");
}

/*# sourceMappingURL=webicons.css.map */
